html, body {
    margin: 0;
    height: 100%;
    background: #1b2021;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background: #e7d7c1;
    width: 768px;
    height: 768px;
    box-shadow: 0 0 50px black;
    z-index: 10;
}

.ui {
    padding: 15px 0 0 0;
    color: white;
    font: 17px system-ui;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

select, button {
    height: 32px;
    font: 17px system-ui;
    padding-top: 3px;
    padding-bottom: 5px;
    border-color: black;
    background-color: #e7d7c1;
    transition: opacity 0.1s cubic-bezier(0.34, 1.56, 0.64, 1);
    box-shadow: 0 0 0 black;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: orange;
}

select:hover, button:hover, input[type=checkbox]:hover {
    opacity: 0.7;
}

.checkbox-input {
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
}

.sub-menu {
    display: flex;
    gap:10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: calc(768px/4*3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 40px;

}

p {
    margin: 0;
    text-wrap: wrap;
}

#ui {
    display:flex;
    gap: 40px;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
}

#main-wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

@media screen and (max-width: 1500px) {
    #main-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media screen and (max-width: 1351px) {
    #main-wrapper {
        flex-direction: column;
        padding-bottom: 100px;
    }
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    max-width: 1484px;
    text-align: left;
    color: white;
    opacity: 0.4;
}